
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap&subset=latin-ext,thai,vietnamese');
body
 {




    font-family: 'Sriracha', cursive;



 }
 html
 {overflow: hidden;
 }
 
 
.select.is-empty select {
    width: 100%;
    display: block;
}.select.is-empty {
    width: 100%;
    display: block;
}.form {

    width: 80%;
    margin: 50px auto;
    display: block;
    box-shadow: 0px 0px 10px #ddd;
    padding: 31px;
    border-radius: 7px;
    padding-bottom: 60px;

}.label {
    font-size: 12px !important;
    text-transform: uppercase;
    color: #666a6f;
    font-weight: 600;
}
input
{box-shadow: unset !important;}
select {
    font-size: 11px !important;
    height: 38px !important;
    width: 100%;
    display: block !important;
}.button {
    background-color: #83684d;
    color: #f7d66a;
    box-shadow: unset !important;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    float: right;
}.button:hover {
    background-color: #f7d66a;
    color: #fff;
    box-shadow: unset !important;
    border-radius: 3px;
}.select {
    width: 100%;
    display: block !important;
}.bgsection
{position: absolute;
top: 0px;
width: 100%;

}

.navbar{
    background-color: transparent;
 
}
.navbar-item, .navbar-link {
    color: #fff;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}
.navbar-link:not(.is-arrowless)::after {
    border-color: #fff;
    margin-top: -0.375em;
    right: 1.125em;
}.brandname {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;
    font-style: italic;
}.para {

    position: absolute;
    top: 40%;
    left: 6%;
    width: 45%;
    color: #fff;
    color: #fff;
    font-size: 20px;
    text-align: justify;
    line-height: 33px;
    font-weight: 500;
    font-style: italic;

}a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    background-color:transparent;
    color: #f7d66a;
}.navbarsec {
    background-color: #83684d;
}.nuxt-link-exact-active.nuxt-link-active
{  
    color: #f7d66a;}

    .bgsection img{
        height: 640px !important;
    }
    .para p {
        background-color: rgb(144, 114, 86,0.3);
        padding: 20px;
        box-shadow: 0px 0px 5px #967c5a;
        border-radius: 10px;
    }
.aboutsec h1
{color: #83684d;
    margin: 25px auto;
}
.aboutsec h2
{color: #83684d;
    margin: 15px auto;
}
.aboutsec img
{
   
    width: 220px;
    margin: 0 auto;
    display: block;
    height: 220px;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 385px;
}
footer {
    background-color: #75523b;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}.navbar-dropdown {
    background-color: #83684d;
}
.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
} .aboutsec 
{
    text-align: center;
}
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
left: 10%;
top: 20px;
}
#login .login-card {
    background: #fff;
    width: 24rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
}
#login .login-card .card-title {
    background-color: #83684d;
    padding: 2rem;
}
#login .login-card .card-title h1 {
    color: #f7d66a;
    text-align: center;
    font-size: 1.2rem;
}
#login .login-card .content {
    padding: 3rem 2.5rem 5rem;
}
#login .login-card #email, #login .login-card #password {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1.75rem;
    padding: 0.25rem 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    transition: all 0.5s;
}
#login .login-card #email:hover, #login .login-card #password:hover {
    border-color: #7a7a7a;
}
#login .login-card #email:active, #login .login-card #password:active, #login .login-card #email:focus, #login .login-card #password:focus {
    border-color: #00d1b2;
}
#login .login-card .checkbox {
    color: #b5b5b5;
    font-size: 0.8rem;
}
#login .login-card .checkbox span {
    margin-left: 0.5rem;
}
#login .login-card a {
    font-size: 0.8rem;
}
#login .login-card .options {
    color: #b5b5b5;
    margin-bottom: 1.5rem;
}
#login .login-card button {
    cursor: pointer;
    font-size: 1.2rem;
    color:#83684d;
    border-radius: 4rem;
    display: block;
    width: 100%;
    background: transparent;
    border: 2px solid #83684d;
    padding: 0.9rem 0 1.1rem;
    transition: color 0.5s, border-color 0.5s;
}
#login .login-card button:hover, #login .login-card button:focus {
    color: #009e86;
    border-color: #009e86;
}
#login .login-card button:active {
    transform: translateY(1px);
}

.regular-checkbox {
    display: none;
}
.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.regular-checkbox:checked + label {
    background-color: #e9ecee;
}
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 11px;
    position: absolute;
    top: 0;
    left: 3px;
    color: #b5b5b5;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
.loginform
{
   
   
    background-position: 50%;
    background-attachment: fixed;
    background-size: cover;
 
    height: 100vh;
}.loginform a {
    color: #83684d;
}